*{
    box-sizing:border-box;
}
html,body{
    margin:0; 
    /* background-color:#122352; */
/* background-position: center; */
    background-image: 
       linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
       url("bgimg/bg4.jpg");
       /* url("bgimg/bluebg1.jpg"); */
       background-size:cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-blend-mode: darken;
       /* background-position: center; */
    scroll-behavior:smooth;
    scroll-padding-top: 100px;
    /* overflow-x:hidden; */
    }
     .header1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        font-size: 2rem;
        font-family:arial,sans-serif;
         background-color: #0b183b;
        color:#274596;
        text-shadow: 2px 0px 1px rgb(79, 137, 230);
        /* border-radius: 0px 0px 20px 20px; */
        top:0;
        right:0;
        left:20px;
     }
    nav{
    height:70px;
    display:flex;
    margin-left:auto;
    gap:7px;
    justify-content:space-between;
    align-items:center;
    background-color:#0b183be7;
    padding:10px 10px 10px 10px;
    position:sticky;
    flex-grow: 1;
    /* flex-wrap: wrap; */
    flex-basis: 200;
    top:0;
    right:0;
    left: 20px;
    z-index:999;
    }
    /* .logodiv{
        justify-content: flex-start;
    }
    .logoimg{
        width: 100px;
        height:50px;
        border-radius:20px;
        box-shadow: 2px 2px 9px rgb(79, 137, 230);
    } */
     .logo{
    font-size:1.5rem;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color:#67e8f9;
    padding:10px 20px;
    border:3px solid #3b82f6;
    border-radius:20px;
    /* background:#0f172a; */
    background-color: transparent;
    box-shadow:
    0 0 10px #3b82f6,
    0 0 20px #1d293d,
    0 0 40px #1a3766;
    letter-spacing:5px;
    width:fit-content;
    transition:0.5s;
}

.logo:hover{
    transform:scale(1.05);
}
    .navlinks{
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap:clamp(90px, 2vw, 30px);
        font-family: arial,sans-serif;
         font-size: 1.1rem;
            color: rgb(79, 137, 230);

         padding:10px 10px 5px 10px;
         
    }
    /* .accounticondiv{
            display: flex;
            justify-content:flex-end;
    } */
    #usericon{
        font-size: 2.4rem;
        color: rgb(45, 104, 201);
        border-radius: 50px;
        border: #f6f7fa solid 3px;
        box-shadow: 0px 4px 10px;
    }
    .accounticondiv{
    position: relative;
}
    #usericon:hover{
        color: #6280b1;
        border: #274596;
        cursor: pointer;
        border: #2b59d8;
        box-shadow: 0px 4px 10px;
    }
    .accMenu{
        background-color: #0b183b;
        display:none;
        position:absolute;
        font-size: 1rem;
        color: rgb(19, 21, 26);
        border-radius: 10px 10px 10px 15px;
        box-shadow:2px 6px 10px 5px #112355;
        height: 200px;
        width: 200px;
        padding:30px;
        top: 44px;
        right: 10px;
    }
    .profmenu{
    text-decoration:none;
    color:#55ebff;
    font-size:0.9rem;
    padding:10px;
    border-radius:8px;
    transition:0.3s;
    justify-content: center;
    align-items: center;
}
.profmenu:hover{
    background-color:#274596;
    color:white;
}
   #a{
        text-decoration: none;
        background-color: #0d274d;
        cursor: pointer;
        color: white;
        border-bottom: none;
         transition: all 0.3s ease;
    }
    #a:hover{
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 6px rgb(255, 255, 255); 
        border-bottom: #274596 solid 2px;  
        border-radius: 20px; 
        width: fit-content;
         transition: all 0.3s ease;
    }
    .myimgdiv{
        position:relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 59vh;
        width: 350px;
        border-radius: 300px;  
    }
    /* @media(max-width: 500px){
     .myimgdiv{
        height: auto;
        width: 50px;
     }   
    } */
    .myimgdiv::before{
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        background:conic-gradient(
             #11284d,
             rgb(79, 137, 230),
            white
        );
        animation:spin 9s linear infinite;
    }
    /* inner background */
    .myimgdiv::after{
        content: "";
        position: absolute;
       inset: 10px;
       background: black;
        border-radius: 300px;
    }
    .myimg1{
        position:relative;
        height:56vh;
        width:330px;
        border-radius: 400px;
        z-index: 1;
    }
    @keyframes spin{
        100%{
            transform: rotate(360deg);
        }
    }
    .img_descptions{
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 0.9rem;
        font-family:arial,sans-serif;
        padding:min(5em,5%);
        margin:0;
        /* background-color: red; */
    }
    .discriptions{
        justify-content:left;
        padding: min(5em,8%;)
        /* text-align: center; */
        align-items:center;
        font-size: 0.9rem;
        font-family:arial,sans-serif;
        width: 64%;
        height: 65vh;
        margin-top: -0.9%;
        margin-left:50px;
        flex-wrap: wrap;
        border-radius: 20px;
    }
    .webtitle{
        justify-content: center;
        color:rgba(253, 254, 255, 0.74);
        font-size: 3.3rem;
        font-weight:bold;
        text-shadow: 1px 1px 5px rgb(98, 84, 179);
        font-family:arial,sans-serif;
    }
    @media(max-width: 768px){
        nav{
            top: 0;
            left:0;
            right:0
        }
        .navlinks{
            gap: 4px;
            font-size:1rem;
        }
        .img_descptions{
            flex-direction: column;
            /* flex-wrap: wrap; */
            /* text-align: center; */
            width:90%;
            /* height: 125vh; */
            height:fit-content;
        }
        .myimgdiv{
            width: 100%;
            /* height: 75vh; */
            height:fit-content;
            align-items: center;
            align-content: center;
            /* scale: 1 1; */  
        }
        .myimg1{
            width: 100%;
            height: 55vh;
            /* height:fit-content; */
        }
        .animateddiv{
            width: 100%;
            /* height: 300vh; */
        }
        .webtitle{
            font-size: clamp(2rem,4vw,3rem);     
        }
    }
    .skillslist{
        list-style-type:"💙";
        /* color:whitesmoke; */
        color:white;
        font-size: 1.2rem;
       font-family:arial,sans-serif;
        font-weight: bold;
        padding: (2em,2%);
    }
    .animateddiv{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:transparent;
        width:100%;
        max-width: 600px;
        margin-top: 5px;
    }
    .animatedtext{
        font-size:2rem;
        /* background-color:transparent; */
        background-image:url("bgimg/tzflag.jpg");
        background-clip: text;
        background-size: contain;
        color:transparent;
        overflow: hidden;
        border-right: 5px solid rgb(255, 243, 243);
        width: 0;
        white-space:nowrap;    
        animation:
        typing 10s steps(40) infinite,
        blink 1s infinite;   }
        @keyframes typing {
            0% { width:0;}
            50% { width: 100%;}
            100% { width: 0; color:rgb(253, 252, 252);}
        }
        @keyframes blink {
            50% { border-color: transparent; }
        }
        .getstartedbtn{
            background-color:transparent;
            color:white;
            border-radius:20px;
            height: 50px;
            width: 200px;
            /* width: 90%; */
            display:flex;
            justify-content: center;
            font-size: 1.9rem;
            outline: none;
            border: 0 solid;
            box-shadow: 2px 2px 9px rgb(79, 137, 230);
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .getstartedbtn:hover{
            transform: translateY(-5px) scale(1.03);
            background-color: transparent;
            color: white;
            box-shadow: 2px 2px 9px rgb(255, 255, 255);
        } 
    .panel1{
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 3rem;
        font-family:arial,sans-serif;
        background:linear-gradient(270deg,#11284d);
        top: 55px;
    }
    .panel2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 3rem;
       font-family:arial,sans-serif;
        background-color:#11284d;
    }
    .panel3{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 3rem;
        font-family:arial,sans-serif;
        background-color: aquamarine;
    }
    /* .panel4{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 3rem;
       font-family:arial,sans-serif;
        background-color: rgb(243, 18, 18);
    } */
    #text{
        color:rgb(79, 137, 230);
        text-shadow: 1px 1px 5px rgb(32, 25, 71);
        font-family:arial,sans-serif;
        font-size: 1.2rem;
        font-family:arial,sans-serif;
        font-weight: bold;
    }
    .servtext{
            color: white;
            font-size: 3rem;
            font-family:Arial, Helvetica, sans-serif;
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 60px;
            /* top: 50px; */
            /* margin-top: 50px; */
            /* margin: auto; */
        }
        .services{
        /* justify-content: center; */
        align-items: center;
        height:fit-content;
        font-size: 10rem;
        font-family:arial,sans-serif;
        background:linear-gradient(270deg,#11284d);
        /* top: 5px; */
        }
    .servicediv{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px;
    }
    .comp{
        background-color: #0b183b;
        color: rgb(79, 137, 230);
        font-size: 1.4rem;
        font-family:arial,sans-serif;
        font-weight: bold;
        gap: 8px;
        width: 268px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* justify-content: space-around; */
        border-radius: 20px;
        box-shadow: 2px 2px 9px rgb(79, 137, 230);
    }
    .comp:hover{
        transform: translateY(-5px) scale(1.03);
        background-color: #0b183b;
        color: rgb(255, 255, 255);
        box-shadow: 2px 2px 9px rgb(255, 255, 255);
         transition: all 0.3s ease;
    }
    @media(max-width:768px){
    
     .servtext{
        font-size: 2rem;
        text-align: center;
        /* flex-direction: column; */
     }
    }
    i{
        font-size: 2rem;
        color: rgb(79, 137, 230);
    }
    i:hover{
        color: rgb(129, 21, 21);
        text-shadow: 0px 2px 3px rgb(255, 255, 255); 
        transform: translateY(-5px);
        transition:0.1s;
        cursor: pointer;
    }
   .gettouchdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #fdfaf8;
    height:100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("bgimg/bg7.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width:100%;
    /* min-height:500px; */
    /* opacity: 20px; */
   }
   .socmediadiv,.otherplatform{
     background-color:transparent;
        color: rgb(250, 252, 255);
        font-size: 1.6rem;
        font-family:arial,sans-serif;
        font-weight: bold;
        gap: 5px;
        width: 40vw;
        height: 50vh;
        /* margin: 20px;; */
        /* padding:5%; */
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* justify-content: space-around; */
        border-radius: 20px;
        box-shadow: 2px 2px 9px rgb(79, 137, 230);   
   }
   .socmediadiv:hover,.otherplatform:hover{
    box-shadow: #2b59d8;
     transform: translateY(-5px) scale(1.03);
     background-color: #0b183b7a;
     color: rgb(255, 255, 255);
     box-shadow: 2px 2px 9px rgb(255, 255, 255);
     transition: all 0.3s ease;
   }
   #emailme{
    /* style="text-decoration: none;color: #67196e;" */
    text-decoration: none;
    color:#67196e;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    flex-wrap: wrap;
   }
   #emailme:hover{
    color: #be1e1e;
   }
    @media (max-width:768px){
        .gettouchdiv{
            width:100%;
            height:90vh;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .socmediadiv{
            width:80%;
            height: fit-content;
            font-size: 1rem;
            flex-wrap: wrap;
        }
        .otherplatform{
            width:80%;
            height:30vh;
            font-size: 0.9rem;
            flex-wrap: wrap;
        }
        #emailme{
        font-size: 1.0rem;
    /* flex-wrap: wrap; */
   }
   }
footer{
    color:antiquewhite;
    text-align: center;
    background-color: #183072;
}
   