*{
    box-sizing:border-box;
}
html,body{
    margin:0; 
    padding:0;
    height: 100%;
    background-image: 
       linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
       url("bgimg/bg4.jpg");
       background-size:cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-blend-mode: darken;
    scroll-behavior:smooth;
    scroll-padding-top: 70px;
    }
    nav{
    height:70px;
    display:flex;
    margin-left:auto;
    gap:7px;
    justify-content:space-between;
    align-items:center;
    background-color:#0b183be7;
    padding:10px 10px 10px 10px;
    position:sticky;
    flex-grow: 1;
    flex-basis: 100;
    top:0;
    right:0;
    left: 20px;
    z-index:999;
    }
     .logo{
    font-size:1.5rem;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color:#67e8f9;
    padding:10px 20px;
    border:3px solid #3b82f6;
    border-radius:20px;
    background-color: transparent;
    box-shadow:
    0 0 10px #3b82f6,
    0 0 20px #1d293d,
    0 0 40px #1a3766;
    letter-spacing:5px;
    width:fit-content;
    transition:0.5s;
}
.logo:hover{
    transform:scale(1.05);
}
    .navlinks{
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap:clamp(50px, 2vw, 30px);
        font-family: arial,sans-serif;
         font-size: 1.1rem;
        color: rgb(79, 137, 230);
         padding:10px 10px 5px 10px;
    }
   #a{
        text-decoration: none;
        background-color: #0d274d;
        cursor: pointer;
        color: white;
        border-bottom: none;
         transition: all 0.3s ease;
    }
    #a:hover{
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 6px rgb(255, 255, 255); 
        border-bottom: #274596 solid 2px;  
        border-radius: 20px; 
        width: fit-content;
         transition: all 0.3s ease;
    }
    i{
        font-size: 2rem;
        color: rgb(79, 137, 230);
    }
    i:hover{
        color: rgb(129, 21, 21);
        text-shadow: 0px 2px 3px rgb(255, 255, 255); 
        transform: translateY(-5px);
        transition:0.1s;
        cursor: pointer;
    }
    .welcomediv{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:
          linear-gradient(rgba(17, 17, 18, 0),rgba(2, 2, 2, 0.9)),
       url("bgimg/lighterbubles.jpg");
       background-size:cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       /* background-blend-mode: darken; */
        /* background-position: center 80%; */
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .welcometxt{
        /* background:url("bgimg/bg9.jpg"); */
        font-size: 5.5rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 255, 255);
    }
   .gettouchdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #fdfaf8;
    height:100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("bgimg/bg7.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width:100%;
   }
   .socmediadiv,.otherplatform{
     background-color:transparent;
        color: rgb(250, 252, 255);
        font-size: 1.6rem;
        font-family:arial,sans-serif;
        font-weight: bold;
        gap: 10px;
        width: 35%;
        height: 50vh;
        border-radius: 200px;
        padding: 30px;
        box-shadow: 2px 2px 9px rgb(79, 137, 230);   
   }
   .socmediadiv:hover,.otherplatform:hover{
    box-shadow: #2b59d8;
     transform: translateY(-5px) scale(1.03);
     background-color: #0b183b7a;
     color: rgb(255, 255, 255);
     box-shadow: 2px 2px 9px rgb(255, 255, 255);
     transition: all 0.3s ease;
   }
   #emailme{
    text-decoration: none;
    color:#67196e;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    flex-wrap: wrap;
   }
   #emailme:hover{
    color: #be1e1e;
   }
footer{
    color:antiquewhite;
    text-align: center;
    background:linear-gradient(#183175f1,#20304b,#0d274d,#181d2c);
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    padding: 10px;
}
/* responsive designing */
@media(max-width: 768px){
        nav{
            top: 0;
            left:0;
            right:0
        }
        .navlinks{
            gap: 4px;
            font-size:1rem;
        }
    #text{
        color:rgb(79, 137, 230);
        text-shadow: 1px 1px 5px rgb(32, 25, 71);
        font-family:arial,sans-serif;
        font-size: 1.9rem;
        font-family:arial,sans-serif;
        font-weight: bold;
    }
    .gettouchdiv{
            width:50%;
            height:90vh;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .socmediadiv{
            width:50%;
            height: fit-content;
            font-size: 1rem;
            flex-wrap: wrap;
        }
        .otherplatform{
            width:50%;
            height:30vh;
            font-size: 0.9rem;
            flex-wrap: wrap;
        }
        #emailme{
        font-size: 1.0rem;
   }

}