 body{
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("bgimg/bestbluee.jpg");
background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
    color: aliceblue;
     }
.maindiv{
    box-shadow: 3px 2px 1px 2px;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;
    border-radius:30px;
    height: 80vh;
    padding: 20px;
}
.inputs{
    width: 42%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    /* margin: left; */
}
.btn{
    background-color:transparent;
    color: whitesmoke;
    font-weight: bold;
    width: 24%;
    height: 10vh;
    border-radius: 20px;
    outline: none;
    box-shadow:0px 2px 2px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn:hover{
    transform: translateY(-5px) scale(1);
    background-color: rgb(9, 11, 12);
}
a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
.backhome{
    /* background-color: transparent; */
    background-color: rgb(66, 33, 148);
    color: whitesmoke;
    font-weight: bold;
    width: 20%;
    height: 10vh;
    border-radius: 20px;
    outline: none;
    box-shadow:0px 2px 2px;
    cursor: pointer;
    transition: all 0.4s ease;
}
/* responsive designing */
@media screen and (max-width: 768px) {
    .maindiv{
        width: 80%;
        height: 70vh;
    }
    .inputs{
        width: 90%;
    }
    label{
        font-size: 1.5rem;
    }
    span{
        font-size:1.3rem;
    }
    .btn{
        width: 50%;
        font-size: 1.7rem;
    }
    .backhome{
        width: 50%;
        font-size: 1.7rem;
        border-radius:100px;
    }
}